@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "remixicon/fonts/remixicon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* overlay */

.overlay {
  @apply absolute;
}

.overlay * {
  @apply transition-all duration-200;
}

.overlay.hoverable > * {
  @apply opacity-0;
}

.overlay.hoverable:hover > * {
  @apply opacity-100;
}

.overlay .video {
  @apply absolute transform bg-green-500 hover:bg-black transition duration-200 bg-no-repeat bg-center w-20 h-20 rounded-full items-start justify-center flex -translate-x-1/2 -translate-y-1/2;
  background-image: url("../images/icon-play.svg#icon-play");
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 768px) {
  .hero .hero-image,
  .hero .hero-caption {
    min-height: 90vh;
  }

  .hero .hero-cta {
    @apply w-12 h-12;
    transform: translateX(-75px) translateY(-50%);
    background-size: 37.5%;
  }
}

.social-links a {
  @apply inline-block h-10 w-10 leading-10 rounded-full px-1;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.social-links a:nth-child(2) {
  margin-left: 1.25rem;
}

.social-links a:nth-last-child(1) {
  margin-left: 1.25rem;
}

.social-links a:hover {
  transition: all 0.5s ease;
  color: #24262b;
  background-color: #ffffff;
}

/* card-shadow */
.card-shadow:hover {
  @apply shadow-xl;
}

/* navbar */
.main-nav-active {
  color: #38a169 !important;
}

/* pagination */
.paginationBttns {
  @apply w-4/5 w-2/5 list-none flex justify-center md:justify-start my-16;
}

.paginationBttns a {
  @apply m-2 cursor-pointer;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
}

.paginationBttns a:hover {
  color: #00880d;
  background-color: #fff;
}

.paginationActive a {
  color: #00880d;
  background-color: #fff;
}

.parallax-custom {
  @apply bg-fixed w-28;
}

/* Hover news */
.image-overlay {
  @apply top-0 left-0 w-full h-full flex flex-col text-center justify-center text-white opacity-0 rounded-t-lg transition duration-300;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s;
  backdrop-filter: blur(5px);
}

.image-overlay:hover {
  opacity: 1;
}

/* Carousel Slider */
.slider-container {
  @apply w-full relative m-auto overflow-hidden;
  height: 80vh;
}

.active {
  @apply inline-block;
}

.inactive {
  display: none;
}

.slides {
  @apply w-full relative;
  height: 80vh;
}

.slide-image {
  @apply w-full h-full absolute object-cover mt-16;
}

.slide-title,
.slide-text {
  @apply w-full h-full text-gray-600 absolute text-center top-2/4 z-10;
}

.slide-text {
  top: 70%;
}

.prev,
.Next {
  @apply cursor-pointer absolute top-2/4 w-auto -mt-12;
  z-index: 100;
  padding: 1rem;
  color: white !important;
}

.Next {
  right: 0;
}

.all-dots {
  @apply w-full h-full absolute flex justify-center;
  top: 90%;
  z-index: 200;
}

.dot {
  @apply cursor-pointer inline-block mx-3 h-6 w-6;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
